@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;

  --color-sage-green: #F5F3EF;
  --color-cream: #1A1A1A;
  --color-hover-cream: #4A4A4A;
  --color-accent: #2D7A6E;
}


:root {
  font-family: "Inter", system-ui, sans-serif;

  background-color: var(--color-sage-green);
  color: var(--color-cream);
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

